[project]
name = "digi-dynamics"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=6.0",
    "mysql-connector-python>=9.5.0",
    "python-decouple>=3.8",
]
