<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} SS_Home {% endblock %}</title>
    <!--<link rel="stylesheet" href="{% static 'css/w3.css' %}" > -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" >
    

</head>
    <div>
        <div>
            <body>
                <!-- Header -->
                <h1 class = "header font-effect-neon" id="title">Steam Scouts</h1>


                <!-- Nav Bar -->
                <div class ="navdiv">
                    <nav class="navbar navbar-expand-sm" style="background-color: black; border: 1px solid white; border-radius: 40px; width: 88%;">
                        <div class="container-fluid" style = "font-size: 25px;"> 
                            <!-- Links -->
                            <ul class="navbar-nav">
                                <li>
                                    <a class="nav-item nav-link active font-effect-fire"  href="{% url 'home' %}"  data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse" id="home">Home</a>
                                </li>

                                <li>
                                    <a class="nav-item nav-link font-effect-fire" href="{% url 'games' %}" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse" id="games" onclick="opentab('Games')">Games</a>
                                </li>

                                <li>
                                <a class="nav-item nav-link font-effect-fire" href="{% url 'DLC' %}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                                    id="dlc" onclick="opentab('DLC')">DLC</a>
                                </li>


                                <li>
                                    <a class="nav-item nav-link font-effect-fire" href="{% url 'demo' %}" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse" id="demo" onclick="opentab('Demos')">Demos</a>
                                </li>

                                <li>
                                <a class="nav-item nav-link font-effect-fire" href="{% url 'music' %}" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                                    id="music" onclick="opentab('Music')">Music</a>
                                </li>
                                    <li>
                                    <a class="nav-item nav-link font-effect-fire" href="{% url 'user' %}" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-collapse" id="user" onclick="opentab('Users')">Users</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div id="content">
                {% block content %}{% endblock %}
                </div>
        </div>

        <hr>
        <!-- Content Columns -->

        <!-- Left Column -->
        <div class="row">
            <hr class = "line"> <!-- Line on top of columns -->
            <div class="column side">
              <h2>Column 1 (remove)</h2>
              <p></p>
              {% block leftCol %} {% endblock %}
            </div>
            
            <!-- Left side vertical line -->
            <div class="verticalleft"></div>
            
        <!-- Middle Column -->
            <div class="column middle">
                {% block middleCol %}
                {% endblock %}
              <!-- <h2>Column 2 (Game Information Display)</h2>
              <p>placeholder</p> -->
            </div>

            <!-- Right side vertical line-->
            <div class="verticalright"></div>

        <!-- Right Column -->
            <div class="column side">
              <h2>Column 3 (remove)</h2>
              <p></p>
            </div>
          </div>


        <!-- Footer -->
        <footer>
            <div class="footer-container">      
            <a class="link footer-left" href="{% url 'home' %}">Steam Scouts</a>
            <a class="link footer-right" href="mailto:someone@example.com">Contact</a>
            </div>
        
        <div class="copyright">
            <p style="color: #000000; margin-top:10px;">
            2023 &copy by Steam Scouts
            </p>
        </div>
        </footer>
    <div>
    <script>
        setInterval(myFunction(), 1000);
    
    </script>
        

      

    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

</body>

</html>