<!--demo.html-->
{% extends 'main/base.html' %}

{% block title%} SS_demo {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="padding: 10px;" >
            <form method="get" actions="/games/">
                {% csrf_token %}
                {{ form.as_ul }}

                <button class="button" type="submit" name="Search" style=> SEARCH </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block middleCol %}
    <h1 style="text-align: center;">Demo Column</h1>
{% endblock %}