<!--DLC.html-->
{% extends 'main/base.html' %}

{% block title%} SS_DLC {% endblock %}

{% block content %}
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            dlcActive();
        });
    </script>
    <div class="container-fluid">
        <div style="padding: 10px;" >
            <form class = "searchbar" method="get" actions="/games/">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <select class="genreTag" style="height:25px;width:70px">
                    <option value="N">Name</option>
                    <option value="G">Genre</option>
                    <option value="P">Publisher</option>
                    <option value="D">Developer</option>
                    <option value="Pr">Price</option>
                    <option value="Y">Date (Year)</option>
                </select>{% endcomment %}
                <button class="button" type="submit" name="Search" id="Search" onclick="onClickGameForm()"> SEARCH </button> 
            </form>
        </div>
    </div>
</body>
{% endblock %}

{% block tables %}
    {% if display == 'block' %}
    <table id = "table_games" class="table-stripped">
       
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        <thead>
            
        <tbody>
            {% for game in DLC %}
                <tr>
                    <td class="gameName">{{game.Name}}<br><a href="https://store.steampowered.com/app/{{ game.id }}">
                        Steam Link
                    </a>
                    {% if displayLike == 'block'%}
                    <!-- <form id="likeGames" method="post" style="display: inline;"> -->
                        {% csrf_token %}
                        <!-- <input type="hidden" name="game_id" value="{{ game.id }}"> -->
                        {% if game.liked %}
                            <i type="submit" onclick="likeFunction(event, '{{ game.id }}', {% url 'DLC' %})" class="fa fa-thumbs-up" style="margin-left: 10px; cursor: pointer; color:rgb(0, 238, 255);" id="{{ game.id }}"></i>
                        {% else %}
                            <i type="submit" onclick="likeFunction(event, '{{ game.id }}', {% url 'DLC' %})" class="fa fa-thumbs-up" style="margin-left: 10px; cursor: pointer;" id="{{ game.id }}"></i>
                        {% endif %}
                    <!-- </form> -->
                    {% endif %}
                
                    </td>
                    <td>{{game.Short_description}}</td>
                    {% if game.Current_price is None %}

                        {% if not game.Base_price is None%}
                            <td> ${{ game.Base_price }} </td>
                        {% elif game.Coming_soon %}
                            <td>Game is coming soon!</td>
                        {% elif game.Release_Date %}
                            <td>Releasing: {{game.Release_Date}}</td>
                        {% else %}
                            <td>FREE</td>
                        {% endif %}

                    {% else %}
                        <td>${{game.Current_price}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}