<!--DLC.html-->
{% extends 'main/base.html' %}

{% block title%} SS_DLC {% endblock %}

{% block content %}
    <div class="container-fluid" style="background-color: transparent; margin-left: 20px;  margin-top: 20px; width: 500px; color: white; margin: 30px;">
        <div style="padding: 10px;" >
            <form method="get" actions="/games/">
                {% csrf_token %}
                {{ form.as_ul }}

                <button type="submit" name="Search" style=> SEARCH </button>
            </form>
        </div>
    </div>
{% endblock %}