<!--games.html-->
{% extends 'main/base.html' %}

{% block title%} SS_games {% endblock %}

{% block content %}
    <body>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                gamesActive();
            });
        </script>
        <div class="container-fluid">
            <div style="padding: 10px;" >
                <form class = "searchbar" method="get" actions="/games/">
                    {% csrf_token %}
                    {{ form.as_ul }}

                    <button class="button" type="submit" name="Search" id="Search" onclick="onClickGameForm()"> SEARCH </button>
                </form>
            </div>
        </div>
    </body>
{% endblock %}


{% block tables %}
    {% if display == 'block' %}
    <table id = "table_games">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>      
            {% for game in games %}
                <tr>
                    <td>{{game.name}}</td>
                    <td>{{game.short_desc}}</td>
                    {% if game.Current_price is None %}
                    <td>No Price Found</td>
                    {% else %}
                        <td>${{game.Current_price}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}




<!-- {% block leftCol %} 
    {% for game in games|slice:"11" %}
        <a href="https://store.steampowered.com/app/{{game.id}}" style="text-decoration: none;"><p style="color: white;">{{game.name}}</p></a>
    {% endfor %}
{% endblock %}


{% block middleCol %}
    <h1 style="text-align: center;">Games Column</h1>
    {% for game in games|slice:"11" %}
        <p style="color:white">{{game.short_desc}}</p>
    {% endfor %}
{% endblock %}

{% block rightCol %}
    {% for game in games|slice:"11" %}
        {% if game.Current_price is None %}
            <p style="color:white">No Price Found</p>
        {% else %}
        <p style="color: white;">${{game.Current_price}}</p>
        {% endif %}
        
    {% endfor %}

{% endblock %} -->

<!--IF NEED TO ACCESS THESE AT ALL-->
        <!-- <h1 style="color: red;"> {{ name }} </h1>
        <h1 style="color: red;"> {{ NSFW }}</h1> -->