<!--games.html-->
{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid" style="background-color: white; margin-left: 20px;  margin-top: 10px;">
        <div style="padding-top: 10px;">
            <form method="get" actions="/games/">
                {% csrf_token %}
                {{ form.as_ul }}

                <button type="submit" name="Search" style=> SEARCH </button>
            </form>
        </div>
    </div>
{% endblock %}
<!--IF NEED TO ACCESS THESE AT ALL-->
        <!-- <h1 style="color: red;"> {{ name }} </h1>
        <h1 style="color: red;"> {{ NSFW }}</h1> -->