<!--games.html-->
{% extends 'main/base.html' %}

{% block title%} SS_games {% endblock %}

{% block content %}
    <body onload="gamesActive()">
        <div class="container-fluid">
            <div style="padding: 10px;" >
                <form class = "searchbar" method="get" actions="/games/">
                    {% csrf_token %}
                    {{ form.as_ul }}

                    <button class="button" type="submit" name="Search" style=> SEARCH </button>
                </form>
            </div>
        </div>
    </body>
{% endblock %}

{% block leftCol %} 
    {% for game in games %}
        <p style="color: white;">{{game.name}}</h1>
    {% endfor %}
{% endblock %}


{% block middleCol %}
    <h1 style="text-align: center;">Games Column</h1>
{% endblock %}


<!--IF NEED TO ACCESS THESE AT ALL-->
        <!-- <h1 style="color: red;"> {{ name }} </h1>
        <h1 style="color: red;"> {{ NSFW }}</h1> -->