{% extends 'main/base.html' %}

{% block title%} SS_history {% endblock %}


{% block content %}
    
<body>
    <p class="font-effect-fire" style="text-align: center; margin-top:50px;color: black;font-size:100px;font-family:Brush Script MT;"><span>Liked History</span></p>
    {% if display == 'block' %}
    <table>
        <thead>
            <tr>
                <th>Game Name</th>
                <th>Price</th>
                <th>Dislike</th>
            </tr>
        </thead>
        
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{game.name}}</td>
                <td><a href="https://store.steampowered.com/app/{{ game.id }}">Steam link</a></td>
                <form method="post">
                    {% csrf_token %}
                    <td><button type="submit" id="unlike" name="game" value="{{game.id}}">Unlike</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>


{% endblock %}