{% extends 'main/base.html' %}

{% block title%} SS_demo {% endblock %}


{% block content %}
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            userActive();
        });
    </script>
    <div class="container-fluid">
        <div style="padding: 10px;" >
            <form class = "searchbar" method="post" actions="/history/">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit" name="login" id="login"> Login </button> 
            </form>
        </div>
    </div>
    {% if alert_msg %}
        <script>
            alert("{{ alert_msg }}")
        </script>
    {% endif %}
</body>


{% endblock %}