<!--home.html-->
{% extends 'main/base.html' %}




{% block content %}
<body onload = "homeActive()">
    <p class="font-effect-fire" style="text-align: center; margin-top:50px;color: black;font-size:100px;font-family:Brush Script MT;"><span style="">Welcome to Steam Scouts!</span></p>


    <div style="border: 2px solid white; height:600px;margin-left:20px;margin-right:20px;">
    <div style="width: 100%;text-align: center;">
        <p class="font-effect-neon" style="color: black;font-size:30px;margin-top:50px;width:90%;text-align:center;"> <img src="../static/images/favicon.png" alt="Steam Scout Logo" id="homeLogo" style="width:500px;height:500px;margin-right:15px;float:left;margin-left:50px;">
            <br><br>
            Steam Scouts started as a passion project to improve a feature to the gaming platform we love. Steam has made a name for itself as the #1 distribution platform for PC games.
            While being great, it suffers from a lackluster feature we hope to improve. Steam's search engine lacks filter options that could make the experience much better.
            For example, you can't use the search bar to search games by name, date, genre, price, publisher, and developer.
        </p>
    </div>
    </div>

</body>
{% endblock %}


