<!--music.html-->
{% extends 'main/base.html' %}
{% block title%} SS_Music {% endblock %}
{% block content %}
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            musicActive();
        });
    </script>
    <div class="container-fluid">
        <div style="padding: 10px;" >
            <form class = "searchbar" method="get" actions="/games/">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <select class="genreTag" style="height:25px;width:70px">
                    <option value="N">Name</option>
                    <option value="P">Publisher</option>
                    <option value="D">Developer</option>
                    <option value="Pr">Price</option>
                    <option value="Y">Date (Year)</option>
                </select>{% endcomment %}
                <button class="button" type="submit" name="Search" id="Search" onclick="onClickGameForm()"> SEARCH </button> 
            </form>
        </div>
    </div>
</body>
{% endblock %}


{% block tables %}
    {% if display == 'block' %}
    <table id = "table_musics">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>      
            {% for music in musics %}
                <tr>
                    <td class="musicName">{{music.Name}}<br><a href="https://store.steampowered.com/app/{{ music.id }}">
                        Steam Link
                    </a>
                    {% if displayLike == 'block'%}
                    <!-- <form id="likeGames" method="post" style="display: inline;"> -->
                        {% csrf_token %}
                        <!-- <input type="hidden" name="Music_id" value="{{ game.id }}"> -->
                        {% if game.liked %}
                            <i type="submit" onclick="likeFunction(event, '{{ music.id }}', {% url 'music' %})" class="fa fa-thumbs-up" style="margin-left: 10px; cursor: pointer; color:rgb(0, 238, 255);" id="{{ music.id }}"></i>
                        {% else %}
                            <i type="submit" onclick="likeFunction(event, '{{ music.id }}', {% url 'music' %})" class="fa fa-thumbs-up" style="margin-left: 10px; cursor: pointer;" id="{{ music.id }}"></i>
                        {% endif %}
                    <!-- </form> -->
                    {% endif %}
                
                    </td>
                    <td>{{music.Short_description}}</td>
                    {% if music.Current_price is None %}

                        {% if not music.Base_price is None%}
                            <td> ${{ music.Base_price }} </td>
                        {% elif music.Coming_soon %}
                            <td>music is coming soon!</td>
                        {% elif music.Release_Date %}
                            <td>Releasing: {{music.Release_Date}}</td>
                        {% else %}
                            <td>FREE</td>
                        {% endif %}

                    {% else %}
                        <td>${{music.Current_price}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

<!--HOW TO PUT A YT vid on here, may use this for Youtube instead-->
<!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/7-rXQALDv-4?si=FUoTEmRJwhZ4hdMc">
</iframe> -->
<!-- <iframe width="420" height="345" src="https://youtu.be/7-rXQALDv-4?si=FUoTEmRJwhZ4hdMc"> -->

